<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <a href="/" class="navbar-brand">Blog</a>

  <ul class="navbar-nav navbar-expand-lg">
    <li class="nav-item">
      <a href="/" class="nav-link">Home</a>
    </li>
    <% categories.forEach(category => { %>
    <li class="nav-item">
      <a href="/category/<%= category.slug %>" class="nav-link"
        ><%= category.title %></a
      >
    </li>
    <% }) %>
  </ul>
</nav>
